@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body{
    background-color: #262626;
}
h1{
    color: aliceblue;
}
a{
    font-family: 'Ubuntu', sans-serif;
}
a:hover{
    text-decoration-line: none;
}

/* Table */
.table{
    border: 5px solid #e1b838;
}
.table thead th{
    background-color: #e1b838;
    color: #262626;
    border: none;
}
.table td{
    border: none;
    color: #ffffff;
    line-height: 1.8; 
}

.web_table{
    margin: auto;
    align-items: center;
}
.web_table table{
    width: 100%;
}

.web_table th{
    text-align: center;
    font-size: 42px;
    height: 80px;
    padding: 0px;
    text-transform: uppercase;
}

.web_table td{
    text-align: center;
    font-size: 38px;
    /* height: 80px; */
    padding: 0px;
    text-transform: uppercase;
}
.clear {
    clear: both;
}



/* Header*/
.logo{
    padding-left: 44px;
    padding-top: 50px;
}
#main{
    width: 930px;
    margin-top: 95px;
    height: 70px;
    border: 3px solid #e1b838;
}
#main ul{
    display: flex;
    justify-content: space-between;
}
#main li{
    display: inline-flex;
    width: 130px;
}
#main li a{
    width: 100%;
    font-size: 33px; 
    line-height: 2.0; 
    font-weight: 300;
    text-align: center;
    color: #e1b838; 
}
#main li:last-child{
    margin-right: 20px;
}
#main li a:hover{
    font-weight: bold;
    background-color: #e1b838;
    transition: all 0.4s; 
    color: #262626; 
}
/* Slider_sector */
#slider_sector{
    height: 554px;
}
.slider{
    background-image: url("./img/carousel-sector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.slider_table{
    margin: auto;
    align-items: center;
    margin-top: 85px;
}
.slider table{
    width: 100%;
}

.silder_bottom_text h1{
    padding-top: 50px;
    text-align: center;
}
.slider_nav{
    margin: auto;
    margin-top: 50px;
    background-color: aqua;
    height: 50px;
    width: 200px;
}

/* Menu Sector */
.menu_sector{
    margin-top: 50px;
    padding-top: 50px;
    background-image: url("./img/grey-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
.menu{
    font-size: 62px;
    text-align: center;
}
.menu_img{
    display: flex;
    justify-content: center;
}
.menu_table{
    width: 360px;
    height: 100%;
    margin: auto;
}
.menu_table table{
    width: 100%;
}
.menu_table th{
    text-align: left;
    font-size: 30px;
    padding: 0px;
    height: 65px;
    line-height: 2;
    padding-left: 15px;
    font-weight: 800;
    text-transform: uppercase;
}
.menu_table td{
    font-size: 18px;
    padding: 0px;
    padding-left: 15px;
    display: inline-block;
    width: 80%;
}
.menu_table .price_width{
    width: 20%;
}

/* Discount */
.discount_sector{
    margin-top: 70px;
    height: 716px;
}
.discount{
    background-image: url("./img/click_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.dicount_left_side img{
    width: 100%;
    height: auto;
}
.dicount_right_side{
    width: 40%;
}
.discount_text{
    width: 100%;
    margin-top: 60px;
}
.discount_text h2{
    color: #e1b838;
    text-align: right;
    font-size: 54px;
}
.discount_button{
   margin-top: 20px;
   width: 150px;
   height: 30px;
   border: none;
   background-color: #e1b838;
   float: right;
}
.discount_logo{
    margin-top: 150px;
    margin-right: -10px;
    float: right;
}

/* offet_the_mount_sector */
.offet_the_month_sector{
    height: 716px;
}
.offet_the_month_sector_img{
    margin-top: 70px;
    height: 832px;
}
.offet_of_month{
    background-image: url("./img/offet_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.offet_of_month img{    
    display: block;
    margin: auto;
}
.offet_text p{
    color: #ffffff;
    font-size: 24px;
}
.offet_of_month_padding_top{
    padding-top: 80px;
}
/* Our Method */
.our_method_sector{
    margin-top: 250px;
    height: 832px;
}
.our_method{
    background-image: url("./img/our_meth.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.our_method{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.our_method_table{
    margin: auto;
    align-items: center;
}
.our_method_table table{
    width: 100%;
}
.our_method_table th{
    text-align: center;
    font-size: 57px;
    height: 80px;
    padding: 0px;
}
.our_method_table td{
    font-size: 37px;
    height: 80px;
    padding: 30px;
    line-height: 50px;
}
/* Live Music Sector */

.live_music_sector{
    margin-top: 70px;
    height: 832px;
}

.live_music{
    background-image: url("./img/live_music.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.live_music_table{
    margin-top: 70px;
}

.live_music_text{
    margin-top: 180px;
}

.live_music_table{
    margin: auto;
    align-items: center;
    margin-left: 70px;
    margin-top: 60px;
}
.live_music_table table{
    width: 100%;
    height: 300px;
}
.live_music_table th{
    text-align: center;
    font-size: 58px;
    height: 80px;
    padding: 0px;
    text-transform: uppercase;
}
.live_music_table td{
    text-align: center;
    font-size: 58px;
    height: 80px;
    padding: 30px;
    line-height: 50px;
}

.live_music_text p{
    color: #ffffff;
    font-size: 41px;
    line-height: 45px;
}

/* Footer Sector */
.logo_and_title{
    padding-top: 80px;
}
.logo_and_title img{
    display: block;
    margin: auto;
}

.footer_table table{
    width: 100%;
}
.footer_table th{
    text-align: center;
    font-size: 36px;
    height: 30px;
    padding: 0px;
    text-transform: uppercase;
}
.footer_table td{
    text-align: center;
    font-size: 30px;
    height: 40px;
    padding: 10px;
    line-height: 20px;
}

.footer_menu{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.footer_menu ul{
    
}
.footer_menu ul li{
    
}
.footer_menu ul li a{
    font-size: 33px;
    color: #ffffff;
}
.social-site{
    padding-top: 50px;
    padding-bottom: 40px;
}
.social-site .left p{
    font-size: 40px;
    color: #ffffff;
}
.social-site .right{
    padding-top: 15px;
}
.right ul li{
    display: inline;
}
.grill_house a{
    color:#e1b838;;
    font-size: 35px;
    padding-left: 20px;
}